<div>
    <div>
        <p>Category: {{category}}</p>
        <p>{{title}}</p>
        <p>{{description}}</p>
        <p>Price: ${{price}}</p>
        <img src="{{thumbnails}}" width="400px" alt="{{title}} image" srcset="">
    </div>
    <button id="addToCartButton" onclick="addToCart()">Agregar al carrito</button>
</div>

<script src="../../public/js/index.js"></script>